<div class="rounded rounded-t-lg overflow-hidden shadow max-w-xs my-3">
  <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
  <div class="flex justify-center -mt-8">
    <img src="https://as01.epimg.net/meristation/imagenes/2020/03/21/reportajes/1584789522_545134_1584789590_noticia_normal.jpg" class="rounded-full border-solid border-white border-2 -mt-3">
  </div>
	<div class="text-center px-3 pb-6 pt-2">
		<h3 class="text-black text-sm bold font-sans"><%= room.name %></h3>
		<p class="mt-2 font-sans font-light text-grey-dark">Hello, This channel ...</p>
	</div>
  <div class="flex justify-center pb-3 text-grey-dark">
    <div class="text-center mr-3 border-r pr-3">
      <h2>3</h2>
      <span>Viewers</span>
    </div>
    <div class="text-center">
      <h2>1</h2>
      <span>Subscriber</span>
    </div>
  </div>
</div>
